<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4 class="text-light"><strong>{{ site.owner }}</strong>
        </h4>
        <!-- <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p> -->

        <br>
        <a href="mailto:{{ site.email }}" class="text-decoration-none text-light px-2">
          <i class="fa fa-envelope fa-fw"></i> <span class="fs-6">{{ site.email }}</span>
        </a>
        <ul class="list-unstyled d-flex flex-wrap justify-content-center align-items-center gap-4 mb-4 mt-3 fs-5">

          <li>
            <a href="https://instagram.com/altraviants" class="text-decoration-none text-light px-2">
              <i class="fab fa-instagram fa-fw"></i> <span class="fs-6">@altraviants</span>
            </a>
          </li>
          <li>
            <a href="https://wa.me/15565799352" class="text-decoration-none text-light px-2">
              <i class="fab fa-whatsapp fa-fw"></i> <span class="fs-6">+49 15565799352</span>
            </a>
          </li>
        </ul>
        <hr class="small div-center">
        <p class="text-muted">Copyright &copy; {{ site.time | date: '%Y' }} AltraVia, All rights reserved. Powered by
          AltraVia.
        </p>

      </div>
    </div>
  </div>
</footer>