<!--
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>{{ site.title }}</h1>
    <h3 class="my-4">{{ site.subtitle }}</h3>
    <p class="site-description">
      Empowering biomedical journeys across education, research, and careers - bridging aspirations with opportunities in India and worldwide.
    </p>
    <p class="site-description text-center">
      Book your free consultation today.
    </p>
    <a href="#about" class="btn btn-primary btn-lg">Book Now</a>
  </div>
</header>
-->
<header id="top" class="header">
  <div class="header-container">
    <!-- Left side: image -->
    <div class="header-image"></div>

    <!-- Right side: text -->
    <div class="header-text">
      <h1>{{ site.title }}</h1>
      <h3 class="my-4">{{ site.subtitle }}</h3>
      <p class="site-description">
        Empowering biomedical journeys across education, research, and careers - bridging aspirations with opportunities in India and worldwide.
      </p>
      <p class="site-description text-center">
        Book your free consultation today.
      </p>
      <a href="#about" class="btn btn-primary btn-lg">Book Now</a>
    </div>
  </div>
</header>
