<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">


  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  {% include callout.html %}
  {% include call-to-action.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>