<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {%- assign on_page = true -%}
  {% include top-navigation.html %}
  {%- assign on_page = false -%}

  <!-- Page Header -->
  <header class="header" style="height: 40vh; min-height: 300px;">
    <div class="text-vertical-center">
      <h1>{{ page.title }}</h1>
    </div>
  </header>

  <!-- Page Content -->
  <section id="page-content" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          {{ content }}
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!-- Custom Theme JavaScript -->
  <script>
  // Closes the sidebar menu
  $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });

  // Opens the sidebar menu
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });

  // Scrolls to the selected menu item on the page
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
  </script>

</body>

</html>
